In [26]:
import pandas as pd

In [27]:
car={
    "name":["toyota","maruti","fortuner","thar","fourwhiler"],
     "coluer":["red","black","white","blur light","pista"],
     "fuel":["CNG","petrol","gas","CNG","disel"],
}

In [28]:
print(car)

{'name': ['toyota', 'maruti', 'fortuner', 'thar', 'fourwhiler'], 'coluer': ['red', 'black', 'white', 'blur light', 'pista'], 'fuel': ['CNG', 'petrol', 'gas', 'CNG', 'disel']}

In [30]:
df=pd.DataFrame(car)

In [34]:
print(df)

         name      coluer    fuel
0      toyota         red     CNG
1      maruti       black  petrol
2    fortuner       white     gas
3        thar  blur light     CNG
4  fourwhiler       pista   disel

In [36]:
df.to_csv("dg.csv")

In [37]:
data = pd.to_csv_read("dg.csv")

AttributeError: module 'pandas' has no attribute 'to_csv_read'

In [38]:
data = pd.csv_read("dg.csv")

AttributeError: module 'pandas' has no attribute 'csv_read'

In [39]:
data = pd.read_csv("dg.csv")

In [40]:
data

   Unnamed: 0        name      coluer    fuel
0           0      toyota         red     CNG
1           1      maruti       black  petrol
2           2    fortuner       white     gas
3           3        thar  blur light     CNG
4           4  fourwhiler       pista   disel

In [41]:
print(data.to_string(index=False))

 Unnamed: 0       name     coluer   fuel
          0     toyota        red    CNG
          1     maruti      black petrol
          2   fortuner      white    gas
          3       thar blur light    CNG
          4 fourwhiler      pista  disel

In [42]:
df

         name      coluer    fuel
0      toyota         red     CNG
1      maruti       black  petrol
2    fortuner       white     gas
3        thar  blur light     CNG
4  fourwhiler       pista   disel

In [43]:
print(df.loc[0][1])

red

C:\Users\BHAGYASHRI JADHAV\AppData\Local\Temp\ipykernel_9556\2626746826.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.loc[0][1])

In [44]:
print(df.loc[4][1])

pista

C:\Users\BHAGYASHRI JADHAV\AppData\Local\Temp\ipykernel_9556\3171438153.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.loc[4][1])

In [45]:
df.loc[4][1] = "Gray"

C:\Users\BHAGYASHRI JADHAV\AppData\Local\Temp\ipykernel_9556\1811269667.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.loc[4][1] = "Gray"
C:\Users\BHAGYASHRI JADHAV\AppData\Local\Temp\ipykernel_9556\1811269667.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.loc[4][1] = "Gray"

In [46]:
df

         name      coluer    fuel
0      toyota         red     CNG
1      maruti       black  petrol
2    fortuner       white     gas
3        thar  blur light     CNG
4  fourwhiler        Gray   disel