In [1]:
import numpy as np

In [2]:
a=np.array([1,2,3,4,5])

In [3]:
a.shape

(5,)

In [4]:
b=np.array([1,2,3,4,5])

In [6]:
a.size

5

In [4]:
import numpy as np

In [5]:
c=np.array([[[[1,2,3]]]])

In [6]:
c.ndim

4

In [19]:
import numpy as np

In [8]:
d=np.array([1,2,3,4,5])

In [11]:
d.dtype

dtype('int64')

In [13]:
g=np.array([1,2,3,4,5])

In [18]:
np.info(object)

 object()

The base class of the class hierarchy.

When called, it accepts no arguments and returns a new featureless
instance that has no instance attributes and cannot be given any.

In [28]:
import numpy as np

c=np.array[1,2,3,4]

In [31]:
b=np.zeros[5]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [32]:
b=np.zeros(5)

In [33]:
b

array([0., 0., 0., 0., 0.])

In [34]:
import numpy as np

In [35]:
a=np.array[1,2,3,4,5]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [36]:
a=np.onces(3)

AttributeError: module 'numpy' has no attribute 'onces'

In [37]:
a

array([1, 2, 3, 4])

In [51]:
import  numpy as np

In [48]:
a=[[1,0,0],[0,1,0],[0,1,1]]

In [50]:
flag=True
for i in range(0,3):
    for j in range(0,3):
        if((i==j and a[i][j]!=1) or (i!=j and a[i][j]!=0)):
            flag=False
            break
if flag==True:
    print("identity matrix")
else:
    print("not identity matrix")

not identity matrix

In [52]:
a=[[1,2,3],[4,5,6],[7,8,9]]

In [57]:

s=sum
for m in range(0,3):
    for n in range(0,3):
        sum=[m]+[n],[0,0],[1,1],[3,3]
        print(sum)

([0, 0], [0, 0], [1, 1], [3, 3])
([0, 1], [0, 0], [1, 1], [3, 3])
([0, 2], [0, 0], [1, 1], [3, 3])
([1, 0], [0, 0], [1, 1], [3, 3])
([1, 1], [0, 0], [1, 1], [3, 3])
([1, 2], [0, 0], [1, 1], [3, 3])
([2, 0], [0, 0], [1, 1], [3, 3])
([2, 1], [0, 0], [1, 1], [3, 3])
([2, 2], [0, 0], [1, 1], [3, 3])

In [58]:
k = [[1,2,3],[4,5,6],[7,8,9]]

In [59]:
sum = 0

In [60]:
for i in range(0,3):
    for j in range(0,3):
        sum = sum + k[i][j]

In [61]:
sum

45

In [62]:
sum = 0
for i in range(0,3):
    for j in range(0,3):
        if i==j:
         sum = sum + k[i][j]

In [63]:
sum

15

In [5]:

import numpy as np
a=[[1,2,3],[4,5,6],[7,8,9]]

sum = 0
for i in range(0,3):
    for j in range(0,3):
        if i>j:
         sum = sum + a[i][j]

In [6]:
import numpy as np

In [11]:
array=np.random.randint(1,51,size=10)
array

array([40, 42, 26, 10, 49,  6, 11, 35, 15, 22], dtype=int32)

In [17]:
condition= (array>25)&(array<35)
result=np.where(b)[0]
result

array([2])

In [18]:
result=np.where(condition)[0]
result

array([2])

In [32]:
import numpy as np

In [37]:
array=np.arange(1,101)
b=(array%4==0) & (array%8!=0)
result=np.sum(array[b])
result

np.int64(676)

In [51]:
import numpy as np
a=np.array([1,2,9,4,5])

a.sort()

In [52]:
a

array([1, 2, 4, 5, 9])

In [62]:
import pandas as pd

In [63]:
DG={
    "name":["bhagya","shruti","ovee"],
    "salary":[100,200,300],
    "age":[18,19,20]
}
df=pd.DataFrame(DG)

In [65]:
df

     name  salary  age
0  bhagya     100   18
1  shruti     200   19
2    ovee     300   20

In [66]:
result=df[df["salary"] < 250]

In [67]:
result

     name  salary  age
0  bhagya     100   18
1  shruti     200   19