In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
techologies={ "courses":["spark","hadoop","python","pyspark","pandas"],
              "fee":[2000,25000,3400,6700,2300],
              "duration":['31days','27days','45days','39day','23days'],
              "discount":[1000,2000,3000,4000,25000]
             }

In [11]:
row_labels=['r0','r1','r3','r4','r5','r6','r7']
df2=df.assign(techologiesassigned=techologies)
df=pd.DataFrame(techologies)
(df2)

   courses    fee duration  discount techologiesassigned
0    spark   2000   31days      1000                 NaN
1   hadoop  25000   27days      2000                 NaN
2   python   3400   45days      3000                 NaN
3  pyspark   6700    39day      4000                 NaN
4   pandas   2300   23days     25000                 NaN

In [13]:
df2=df.query("courses=='spark'")
(df2)

  courses   fee duration  discount
0   spark  2000   31days      1000

In [15]:
food=['mango','bannana','apple','coconat','watermelan']
df2=df.assign(foodassigned=food)
df2

   courses    fee duration  discount foodassigned
0    spark   2000   31days      1000        mango
1   hadoop  25000   27days      2000      bannana
2   python   3400   45days      3000        apple
3  pyspark   6700    39day      4000      coconat
4   pandas   2300   23days     25000   watermelan

In [32]:
df2=df.assign(disconut_percent=lambda x:x.fee*x.discount/100)
df2

   courses    fee duration  discount  disconut_percent
0    spark   2000   31days      1000           20000.0
1   hadoop  25000   27days      2000          500000.0
2   python   3400   45days      3000          102000.0
3  pyspark   6700    39day      4000          268000.0
4   pandas   2300   23days     25000          575000.0

In [22]:
df=pd.DataFrame(techologies)
df["MNCcompanies"]="MNCcompanies"
df

   courses    fee duration  discount  MNCcompanies
0    spark   2000   31days      1000  MNCcompanies
1   hadoop  25000   27days      2000  MNCcompanies
2   python   3400   45days      3000  MNCcompanies
3  pyspark   6700    39day      4000  MNCcompanies
4   pandas   2300   23days     25000  MNCcompanies

In [33]:
df.insert(1,'food',food)
df

   courses        food    fee duration  discount
0    spark       mango   2000   31days      1000
1   hadoop     bannana  25000   27days      2000
2   python       apple   3400   45days      3000
3  pyspark     coconat   6700    39day      4000
4   pandas  watermelan   2300   23days     25000

In [35]:
rows_count=len(df.index)
rows_count
rows_count=len(df.axes[0])
rows_count
column_count=len(df.axes[1])
column_count

5

In [36]:
import pandas as pd

In [37]:
exam_data={"name":["kavya","bhagya","ovee","mukta","gatha"],
           "score":[12,45,43,67,89],
           "attempts":[1,2,3,4,5],
           "qualify":['yes','no','yes','no','yes']
          }

In [38]:
row_labels=['a','b','c','d','e']
df=pd.DataFrame(exam_data,index=row_labels)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      5 non-null      object
 1   score     5 non-null      int64
 2   attempts  5 non-null      int64
 3   qualify   5 non-null      object
dtypes: int64(2), object(2)
memory usage: 200.0+ bytes

In [39]:
df.describe()

           score  attempts
count   5.000000  5.000000
mean   51.200000  3.000000
std    28.813191  1.581139
min    12.000000  1.000000
25%    43.000000  2.000000
50%    45.000000  3.000000
75%    67.000000  4.000000
max    89.000000  5.000000

In [40]:
df.iloc[:3]

     name  score  attempts qualify
a   kavya     12         1     yes
b  bhagya     45         2      no
c    ovee     43         3     yes

In [42]:
df.loc[df.attempts>2]

    name  score  attempts qualify
c   ovee     43         3     yes
d  mukta     67         4      no
e  gatha     89         5     yes

In [43]:
import pandas as pd

In [44]:
import numpy as np

In [56]:
student={"name":["kavya","bhagya","ovee","mukta","gatha"],
           "score":[12,45,43,89,"nan"],
           "attempts":[1,2,3,4,5],
           "qualify":['yes','no','yes','no','yes']
        }

In [58]:
row_labels=['a','b','c','d','e']
df=pd.DataFrame(student,index=row_labels)
df.to_csv("student.csv")
df=pd.read_csv("student_csv")
df2=(df[df['score'].isnull()])
df2

FileNotFoundError: [Errno 2] No such file or directory: 'student_csv'